

<div>
    <h1 class="text-center">Backlog</h1>
</div>

<div class="list">
    <div class="item">
        <div class="item-header">
            <!--insert Title and Flag here-->
            <h4>Title</h4>
            <button style="background: url(../../wwwroot/lib/Images/flag.png)"></button>
        </div>
        <div class="item-footer">
            <h4>Footer</h4>
            <!--insert ID, Priotiy and Points here-->
        </div>
    </div>
    <div class="item">
        <h4>Item 2</h4>
    </div>
</div>

<button style="background-image: url(../../wwwroot/lib/Images/ToDoList-Final.png); width: 25ch; height: 25ch;"></button>
